@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}

* {
    font-family: 'Poppins', sans-serif;

    outline: none;
    border: none;
    text-decoration: none;
    text-decoration: none !important;
}

html {

    overflow-x: hidden;
    scroll-behavior: smooth;
    text-decoration: none;


}

body {
    background: var(--bg-color);
    transition: .2s linear;

}

body.active {
    --black: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #111,
        -.4rem -.4rem 1rem #333;
    --box-shadow-inset: .4rem .4rem 1rem #111 inset,
        -.4rem -.4rem 1rem #333 inset;
}

section {
    padding: 2rem;
    padding-top: 0.6rem;
    margin-bottom: 10rem;
    transition: .2s linear;

}

.titleHoSoCuaToi {
    margin: 0;
    font-size: 2.325rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.titleHoSoCuaToiNeumorphism {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
    margin-right: 80rem;
}

.titleHoSoCuaToiMore {
    font-size: 15px;
    color: gray;
    margin-right: 65rem;
    padding-top: 15px;
    border-bottom: 2pt solid rgb(223, 219, 219);
}

.titleInputChangeEmail {
    font-size: 15px;
    color: gray;
    margin-right: 21rem;
    padding-top: 15px;
}

/* đây là css cảnh bảo toast xác nhận */
#taskComfirmFunc {
    visibility: hidden;
}

#taskChangeEmail {
    visibility: hidden;
}

#taskComfirmFunc.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.8s;
    animation: fadein 0.8s;
}

#taskChangeEmail.showChange {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.8s;
    animation: fadein 0.8s;
}

/* toast loading*/
#toastLoading {
    z-index: 99999999999;
}

.case__loading {
    position: absolute;
    margin: 0 auto;
    text-align: center;
}

.big__circle {
    background: #f2f2f2;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 100% !important;
    box-shadow: inset -4px -4px 8px 0px white, inset 4px 4px 8px 0px #ddd8d4;
}

.inner__circle {
    z-index: 2;
    position: absolute;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
    width: 70%;
    height: 70%;
    border-radius: 100% !important;
    background: #f2f2f2;
    box-shadow: -4px -4px 8px 0px white, 4px 4px 8px 0px #cecece,
        inset 0px 0px 0px 0px white, inset 0px 0px 0px 0px #cecece;
}

.loader {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 105%;
    height: 105%;
}

.loader svg {
    width: 100%;
    height: 100%;
}

/*https://www.uplabs.com/posts/modern-google-loader-in-pure-css */
.circular {
    height: 100%;
    width: 100%;
    animation: rotate 4s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -2.5%;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: #00e8aa;
    animation: dash 3s ease-in-out infinite;
}

.starbuck-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
}

.starbuck-popup__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.starbuck-popup__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    max-height: 100%;
    max-width: 100%;
}

.error {
    flex-direction: column;
    width: 440px;
    height: 220px;
    font-size: 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.success {
    flex-direction: column;
    width: 440px;
    height: 350px;
    font-size: 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.info-popup__head {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.titlePopUp {
    top: 10rem;
    width: max-content;
    font-size: 13px;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.fa-xmark,
.fa-check {
    color: green;
    margin-right: 5px !important;
}

.fa-users-viewfinder {
    color: green;
    margin-right: 5px !important;
}


.textPopUpError {
    padding-top: 15px;
    font-size: 14px;
    text-align: justify;
}

.popUpButton {
    margin-top: -7rem;
    position: absolute;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: #006341;
    box-shadow: var(--box-shadow);
    margin-left: 8rem;

}

.popUpButton:hover {
    transition: 0.05s;
    background: #02966fa6;

}

.homeVerify {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 5rem;
}

/* // */
.btnNeumorphism {
    margin-top: rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
    text-align: end;
    margin-right: 2rem;
}

.btnLinkLogin {
    margin-top: rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
    text-align: end;
    margin-right: 2rem;
}

.btnNeumorphism:hover {
    box-shadow: var(--box-shadow-inset);
}

.btnLinkLogin:hover {
    background: #15824B;
}

.inputChangeProfile {
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow-inset);
    width: 400px;

}

.textChangeProfile {
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
    width: 400px;
    text-align: left;
}

.changeEmail {
    color: gray;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 13px;
}

.changePassword,
.changeEmail {
    color: gray;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 13px;
}

.changePassword:hover {
    color: #006341;
}

.changeEmail:hover {
    color: #006341;
}



.btnGender {
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 50%;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
    margin-right: 2.1rem;
    height: 3em;
    width: 3.5em;

}

.btnGender:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--green);
    text-transform: uppercase;
}

.header {
    top: 10.8%;
    left: 0;
    background: var(--bg-color);
    width: 30rem;
    height: 100%;
    padding: 2rem;
    margin-top: -25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    margin-bottom: 30px;
}

.header .user img {
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    box-shadow: var(--box-shadow);
}

.header .user h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.header .user p {
    color: gray;
    font-size: 1.5rem;
}

.header .navbar {
    padding-top: 1rem;
    text-align: justify;
}

.header .navbar .btnNavBarInfoProfile {
    padding-left: 20px;
}

.header .navbar a {
    display: block;
    margin: 1.5rem 0;
    padding: .7rem;
    border-radius: 5rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.header .navbar a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
    transition: .2s linear;

}

.beingClickMyAccount,
.beingClickSetting {
    box-shadow: var(--box-shadow-inset) !important;
    color: var(--green) !important;
}

#menu-btnNeumorphism {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btnNeumorphism:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
    position: fixed;
    top: 13.5rem;
    right: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
}

#theme-toggler:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

.content {
    margin-right: 25rem;
    margin-top: 10px;


}

.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 5rem;
}

.home .content h3 {
    font-size: 2rem;
    color: rgba(0, 0, 0, .2);
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 500;
}

.home .content p {
    font-size: 2rem;
    color: var(--green);
    padding-bottom: .5rem;
}

.home .share {
    /* position: relative; */
    top: 10rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-left: 40rem;
    margin-top: 30px;
}

.home .share a {
    height: 5rem;
    width: 40rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin: .5rem;
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;

}

.home .share a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
    transition: .2s linear;

}

.buttonVerify {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}

.inputChangeEmail {
    margin-top: 10px;
    position: absolute;
}

.inputChangePassword {
    margin-top: 10px;
    position: absolute;
}

#textValueChangePassword {
    color: #f00;
    font-style: italic;
}

#textValueChangeComfirmPassword {
    color: #f00;
    font-style: italic;
}

#errorInputChangeEmail {
    padding: 10px 10px 10px 10px;
    margin-right: 58rem;
    color: #f00;
}

#errorInputChangePassword {
    padding: 10px 10px 180px 10px;
    margin-right: 58rem;
    color: #f00;
    position: absolute;
}

#errorInputComfirmChangePassword {
    padding: 20px 10px 10px 10px;
    margin-right: 49rem;
    color: #f00;
    position: absolute;
}

#taskChangeImage {
    color: #017143;
    position: absolute;
    font-size: 25px;
    bottom: 53%;
    left: 11.5%;
}

.fa-paperclip {
    color: #017143;
    padding-right: 5px !important;
}

#clickCameraAndAttachedWithChange {
    width: 100px;
    height: 50px;
    border: 1pt solid #017143;
    border-radius: 4px;
    background-color: #017143;
    margin-right: 40px;
}

#clickAttachedWithChange {
    width: 100px;
    height: 50px;
    border: 1pt solid #017143;
    border-radius: 4px;
    background-color: #017143;
}

#customclickChangeImage {
    display: flex;
    /* justify-content: center; */
}

.clickCameraAndAttachedWithChange,
.clickAttachedWithChange {
    top: 10rem;
    width: max-content;
    font-size: 13px;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.fa-camera,
.fa-image {
    color: #fff !important;
    font-size: 16px;
}

.file-upload-image {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btnNeumorphism {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btnNeumorphism:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btnNeumorphism:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
    padding-top: 15px;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
    width: 100%;
    height: 250px;
    visibility: hidden;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
    position: absolute;
    display: flex;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 130px;
    margin: 0px;
    color: rgb(255, 255, 255);
    background: rgb(205, 69, 53);
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(176, 40, 24);
    transition: all 0.2s ease 0s;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px !important;
    position: absolute;
    margin-top: 45px;

}

.saveImage {
    width: 130px;
    margin: 0px;
    color: rgb(255, 255, 255);
    background: #017143;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #00663c;
    transition: all 0.2s ease 0s;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px !important;
    position: absolute;
    margin-top: 45px;
    margin-left: 200px;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.saveImage:hover {
    background: #01683d;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.saveImage:active {
    border: 0;
    transition: all .2s ease;
}

.toastAfterClickChangeImage {
    opacity: 0;
    position: absolute;
    width: 385px;
    height: 100px;
    border: 2pt solid #ddd;
    background: #ddd;
    text-align: center;
    justify-content: space-between;
    line-height: 2cm;
    font-size: 17px;
    font-weight: 400;
    color: #017143;
    margin-top: 100px;
    animation: fadeInToastAfterClickChangeImage 2s, fadeOutToastAfterClickChangeImage 2s 2s;
}

.fa-wand-magic-sparkles {
    color: green;
    font-size: 25px;
    padding-right: 3px;
}

;

#imageAccount {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

#wrapSetting {
    max-width: 100%;
    width: 950px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 20px;
    text-align: justify;
}

input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #017143;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.btnSetting {
    padding: 5px;
    border-radius: 5px;
    background: #15824B;
}

.pr-6 {
    padding-bottom: 5px;
}

.taskDelete {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    border: 0.5pt solid #32393d;
    margin-bottom: 200px;
}

.warningDelete {
    background-color: #f3e16b;
    padding: 5px;
    border-radius: 5px;
    margin-top: 2px;
    width: max-content;
    /* display: inline-block; */
}

.btnDelete {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.backgroundCameraChange {
    position: relative;
    width: 491px;
    height: 640px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: -60px;
    margin-left: 130px;
}

.backgroundCameraChange::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-image: conic-gradient(transparent, transparent, transparent, #00ffad);
    animation: rotateBackgroundImage 5s linear infinite;
}

.backgroundCameraChange::after {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotateBackgroundImage 5s linear infinite;
    animation-delay: -3s;

}

.backgroundCameraChange .InmoreBackgroundImage {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: #000;
    z-index: 2;
}

.snapCamera {
    position: absolute;
    border-radius: 360px;
    margin-top: -80px;
    margin-left: 20px;
    z-index: 2;
    margin-left: 337px;
    background: #fff;
    width: 50px;
    height: 69px;

}
#video{
    margin-top: -15px;
    position: relative;
    margin-left: 1px;
}
.fa-circle-notch{
    font-size: 25px;
    margin-left: -12px;
}
#canvasChangeImage{
    position: absolute;
    margin-top: -80px;
    z-index: 3;
    margin-left: 180px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(109, 109, 109);
}

/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    body {
        padding-left: 0;
    }

    .header {
        left: -110%;
    }

    .header.active {
        left: 0%;
        transition: .4s linear;
    }

    #menu-btnNeumorphism {
        display: initial;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .header {
        width: 100%;
        border-right: 0;
    }

}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 30px;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 30px;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeInToastAfterClickChangeImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOutToastAfterClickChangeImage {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*
@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 30px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 30px;
        opacity: 0;
    }
}
  */

/* animation toast loading*/
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes rotateBackgroundImage {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}